body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30px;
    overflow: hidden;
    /* background-color: #ffefd5; */
    -webkit-app-region: drag;
}

.ce-toolbar--opened {
    width: 90%;
}